jackett-config/Jackett/ClientCertificates
jackett-config/Jackett/Indexers
jellyfin-config/data/
jellyfin-config/log/
jellyfin-config/metadata/
jellyfin-config/plugins/
jellyfin-config/root/
qbittorrent-config/qBittorrent/BT_backup
qbittorrent-config/qBittorrent/BT_clientState.xml
qbittorrent-config/qBittorrent/BT_backup
radarr-config/logs/
radarr-config/*.db
radarr-config/*.db-shm
radarr-config/*.db-wal
radarr-config/radarr.pid
sonarr-config/logs/
sonarr-config/*.db
sonarr-config/*.db-shm
sonarr-config/*.db-wal
sonarr-config/sonarr.pid

*.swp
*.tmp
