{
	email jacksmahoney@gmail.com
	acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

lg.jackmhny.xyz {
	# Jellyfin
	handle_path /jellyfin/* {
		reverse_proxy localhost:8096
	}

	# qBittorrent Web UI
	handle_path /qb/* {
		reverse_proxy localhost:8080
	}

	# Sonarr
	handle /sonarr/* {
		reverse_proxy localhost:8989
	}

	# Radarr
	handle /radarr/* {
		reverse_proxy localhost:7878
	}

	# Jackett
	handle_path /jackett/* {
		reverse_proxy localhost:9117
	}

	# Netdata (metrics)
	handle_path /netdata/* {
		reverse_proxy localhost:19999
	}

	# Portainer (Docker management)
	handle_path /portainer/* {
		reverse_proxy localhost:9000
	}

	# SwabScan face‐search UI
    	handle_path /swabscan/* {
       		reverse_proxy localhost:8501
    	}

	# OpenHands
	handle_path /openhands/* {
		basic_auth {
			jackmhny $2a$14$XivRaHJmirIZBDyWnvyRsewfmpR6VQrbCiRiUpyAib.wiWy.mxoN6
		}
		reverse_proxy localhost:3000
	}

	# Full face archive download
	handle /pduddy.tar.gz {
		root * /mnt/ssd2
		rewrite * /pduddy.tar.gz
		file_server
	}

	# Static site fallback
	handle {
		root * /srv/site
		file_server
	}
}
